.productInfo {
  margin: 10px;
  padding: 10px;
}

img.largeImage {
  width: 500px !important;
  height: 500px !important;
}

div.largeImage {
  box-shadow: none;
  background-color: #fafafa;
}

.productTitle {
  font-size: 3rem !important;
}

.productColor,
.productSize,
.productQty {
  font-weight: bold !important;
  margin-right: 0.75rem !important;
}

.productGrid {
  flex-grow: 1;
}

.dollars {
  padding-left: 1rem;
}

.dollars:before {
  content: '$';
}

.crossedout {
  color: hsla(0, 100%, 50%, 0.5);
  text-decoration: line-through;
}

.commentsSection {
  border-radius: 10px;
  background-color: hsl(0, 0%, 95%);
}

.commentsTitle {
  font-size: 2rem !important;
  margin-bottom: 1rem !important;
}

.comment {
  padding: 0.5rem;
  border: 1px solid hsl(0, 0%, 80%);
}

.commentAuthor {
  margin-bottom: 0.5rem !important;
  font-size: 1.25rem !important;
}

.commentDate {
  margin-top: 0.5rem !important;
  font-size: 0.8rem !important;
  color: hsl(0, 0%, 50%);
}
